[submodule "pyo3"]
	path = pyo3
	url = https://github.com/PyO3/pyo3.git
[submodule "toid/sample-resource"]
	path = toid/sample-resource
	url = https://github.com/YoshikawaMasashi/toid-sample-resource.git
